/*---VARIABLES---*/

$color-primario: rgb(173,20,23);
$color-secundario: white;


/*---LISTA---*/

$colores: #E9AB33, rgb(255, 219, 87), white, black, #84BC82;


/*---MAPA---*/

$boton:(
    color-texto: black,
    fondo: rgb(255, 219, 87),
    fondo-hover: #FFE792,
    fondo-active: rgb(255, 219, 87),
);


/*---MIXIN---*/

@mixin flex ($flex, $direction, $justify, $align){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


/*---EXTENDS---*/

%flex-center{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
};



/*---OPERADOR ARITMÉTICO---*/

$ancho: 500px;


