/*-------HEADER------*/

header{
    position: sticky;  
    top: 0;
    z-index: 2;
}

header nav{
    background-color: $color-primario;
}

.logo-header{
    margin-top: 18px;
    margin-left: 20px;
    width: 200px;
}

.enlaces-nav{
    color: $color-secundario;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.icono-menu{
    color: $color-secundario;
    font-size: 40px;
}